<!-- Used for testing the htl and so can be deleted -->
<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
	<md-input-container>
		<label>Email</label>
  		<input type="text" ng-model="user.name">
	</md-input-container>
	<md-input-container>
		<label>Password</label>
  		<input type="text" ng-model="user.name">
	</md-input-container>
	<md-input-container>
		<label>Name (Optional)</label>
  		<input type="text" ng-model="user.name">
	</md-input-container>
	<md-button class="md-raised"> Raised Button </md-button>

	<md-button class="md-fab" aria-label="FAB">
	</md-button>
	<md-button class="md-fab md-mini" aria-label="Mini FAB">
  <md-icon md-svg-src="your/icon.svg"></md-icon>
</md-button>
	<md-button class="md-icon-button" aria-label="Custom Icon Button">
  <md-icon md-svg-icon="https://rawgit.com/angular/material-start/es5-tutorial/app/assets/svg/avatar-1.svg"></md-icon>
</md-button>
<md-button> Flat Button </md-button>
<md-button href="http://google.com"> Flat link </md-button>
<md-button class="md-raised"> Raised Button </md-button>
<md-button ng-disabled="true"> Disabled Button </md-button>
<md-button>
  <md-icon md-svg-src="your/icon.svg"></md-icon>
  Register Now
</md-button>

  <md-list>
    <md-list-item >
        <md-button>
          <md-icon md-svg-src="https://rawgit.com/angular/material-start/es5-tutorial/app/assets/svg/avatar-1.svg" class="avatar"></md-icon>
          Lia Luogo
        </md-button>
    </md-list-item>

    <md-list-item >
        <md-button>
          <md-icon md-svg-src="https://rawgit.com/angular/material-start/es5-tutorial/app/assets/svg/avatar-4.svg" class="avatar"></md-icon>
          Lawrence Ray
        </md-button>
    </md-list-item>

  </md-list>
</md-sidenav>
<md-content flex id="content" class="lightgreen" flex>
  <md-icon md-svg-icon="https://rawgit.com/angular/material-start/es5-tutorial/app/assets/svg/avatar-1.svg" class="avatar"></md-icon>
  <h2>Lia Luogo</h2>
  <p>
    I love cheese, especially airedale queso. Cheese and biscuits halloumi cauliflower cheese cottage cheese
    swiss boursin fondue caerphilly. Cow port-salut camembert de normandie macaroni cheese feta who moved my
    cheese babybel boursin. Red leicester roquefort boursin squirty cheese jarlsberg blue castello caerphilly
    chalk and cheese. Lancashire.
  </p>
</md-content>
